.services{
    position:relative;
    width: 100%;
    max-width: 1032px;
    height: 714px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: transparent;
    overflow: auto;
        /* Safari and Chrome */
        animation-name:mymove;
        animation-duration:5s;
        -webkit-animation-name:mymove;
        -webkit-animation-duration:5s;
    }
    
    @keyframes mymove
    {
    from {left:-1000px;}
    to {left:0px;}
    }

.inner{
    position:relative;
    width: 90%;
    height: 700px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
    overflow: auto;
}